{% assign image = page.footer | default: site.footer %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background site-footer"
  style="--image: url('{{ image | relative_url | uri_escape }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <div class="footer-inner">
    <div class="footer-row">
      <div class="footer-col logo-col">
        <img src="{{ '/images/logos/ucr-logo.png' | relative_url }}" alt="UC Riverside">
      </div>

      <div class="footer-col address-col">
        <p>
          Center for Environmental Research and Technology (CE-CERT)<br>
          1084 Columbia Avenue <br>
          Riverside, CA 92507
        </p>
      </div>
    </div>
   
    <div class="footer-bottom">
      © {{ site.time | date: "%Y" }} Sustainable Mobility and Environment Laboratory (SMEL)
    </div>
    <div class="footer-theme-toggle">
      <input
        type="checkbox"
        class="dark-toggle header-toggle"
        aria-label="toggle dark mode"
        oninput="onDarkToggleChange(event)">
    </div>
  </div>

</footer> 